body {
  width: 100%;
  height: 100vh;
  background-color: hsl(233, 47%, 7%);

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.75);
}

.card {
  width: 1110px;
  height: 446px;
  background-color: hsl(244, 38%, 16%);

  display: flex;
  border-radius: 10px;
}

.txt_container {
  width: 570px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 70%;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  margin: 0px 20px 20px 0px;
}

span {
  color: hsl(277, 64%, 61%);
}

.desc {
  margin-bottom: 30px;
  line-height: 30px;
}

.data_viz {
  height: 30%;
  display: grid;
  grid-template-areas:
    "d1 d2 d3"
    "i1 i2 i3";
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5px;
  column-gap: 30px;
}

.data_1 {
  grid-area: d1;
}

.data_2 {
  grid-area: d2;
}

.data_3 {
  grid-area: d3;
}

.info_1 {
  grid-area: i1;
}

.info_2 {
  grid-area: i2;
}

.info_3 {
  grid-area: i3;
}

.data {
  align-self: end;
  font-family: "Inter", sans-serif;
  font-size: 27px;
  color: hsl(0, 0%, 100%);
}

.info {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.6);
}

.img_filter {
  position: absolute;
  width: 540px;
  height: 446px;
  background-color: hsla(277, 64%, 61%, 0.5);
  border-radius: 0px 10px 10px 0px;
}

img {
  border-radius: 0px 10px 10px 0px;
}

@media (max-width: 375px) {
  .card {
    width: 330px;
    height: 780px;

    flex-direction: column-reverse;
    justify-content: space-between;
  }

  .img_container {
    width: 100%;
    height: 242.2px;
  }

  .img_filter {
    width: 330px;
    height: 242.2px;
    border-radius: 10px 10px 0px 0px;
  }

  img {
    content: url("./images/image-header-mobile.jpg");
    border-radius: 10px 10px 0px 0px;
    width: 100%;
  }

  .txt_container {
    width: 100%;
    height: 537.8px;
  }

  .content {
    width: 90%;
    height: 90%;
  }

  .title,
  .desc {
    text-align: center;
  }

  .title {
    margin: 0px;
    margin-bottom: 10px;
  }

  .desc {
    margin: 0px;
  }

  .data_viz {
    height: 50%;
    grid-template-areas:
      "d1"
      "i1"
      "d2"
      "i2"
      "d3"
      "i3";
    grid-template-rows: repeat(3, 3fr 1fr);
    grid-template-columns: 1fr;
    row-gap: 10px;
    justify-items: center;
  }
}
